.footer {
    background-color: #631CAD;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
  }
  
  .footer .containerFoot {
    justify-content: center;
    text-align: center;
  }
  
  .footer .containerFoot .version {
    font-size: 12px;
  }
  