body {
    margin: 0;
    padding: 0;
  }

.banner {
    height: auto;
    padding: 0px 0;
    color: white;
    background-size: cover;
  }

  .banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
  }

  .banner p {
    width: 100%px;
    margin-right: 50%;
    height: 300px;
  }

  .banner .container span {
    font-weight: 800;
  }
    